/* GENERAL */
body {
    width: 100%;
}

header {
    width: 100%;
    font-size: 24px;
}

footer {
    background-color: #fff;
    color: #777;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* HOME */

/* ABOUT */

/* SERVICES */

/* SEGMENTS */

/* BLOG */

/* Blog button that scrolls to top of page */
.back-to-top {
    display:none;
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
   
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
    text-decoration:none;
    color:#ffffff;
}

/* CONTACT */