* {
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.tabs ul {
    justify-content: center !important;
}

/* Video header for landing page */
.v-header {
    height: 50vh;
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 5;
}

.v-container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.v-header-content {
    z-index: 2;
}

.v-header-content h1 {
    font-size: 125px;
    margin-bottom: 0;
}

.v-header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}

#learnMore:hover {
    background-color: #FFCA07;
    color: #fff;
}

.section { 
    padding: 20px 0;
}

.card-text-container {
    padding: 25px;
    padding-bottom: 0px;
}
/* header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #f4f4f4;
    color: #666;
    box-shadow: 0 1px 1px #ebebeb;
} */

.hero-foot {
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    position: absolute;
}
/* 
.button {
    background-color: #5571cf !important;
    color: #fff !important;
    text-decoration-line: none !important;
} */

.video-header {
    width: 100%;
    height: 50%;
}

.call-to-action{
    display: block;
    position: relative;
}

.cta-textbox {
    position: absolute;
    width: 100%;
    top: 35%;
    color: white;
    font-size: 24px;
}

.divider {
    border-top: 2px solid #FFCA07;
    margin: 2% 40%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.45);
    transition: ease-out 1s;
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: ease-in 1s;
    color: black;
}

.overlay2:hover {
    background-color: rgba(255, 255, 255, 0.45);
    transition: ease-in 0.1s;
}

/* .cta-textbox:hover {
    color: black;
} */

/* .cta-text {
    color: #000;
}

.cta-text:hover {
    color: #fff;
} */

.segment_head {
    position: relative;
    margin-bottom: -5px;
    z-index: 5;
}

.segment_body {
    position: relative;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 1px 1px #ebebeb;
}

.roadblock {
    background-color: #5571cf;
    color: #fff;
    border-radius: 15px;
    margin: 0 10px;
}

.pin-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.icon_pin {
    /* color: rgb(233, 85, 74); */
    position: relative;
    margin-left: 0;
    z-index: 5;
}

.service {
    width: 700px;
    position: relative;
    margin: 0 auto;
}

.pimg-1, .pimg-2, .pimg-3, .pimg-4 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg-1 {
    background-image: url('../images/logo.jpg');
    min-height: 68%;
    opacity: 1;
}

.pimg-2 {
    background-image: url('../images/Accent/road.jpeg');
    min-height: 75%;
}

/* .pimg-3 {
    background-image: url('../images/handshake-1.jpg');
    min-height: 600px;
} */

.section {
    text-align: center;
    padding: 50px 100px;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext, .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext, .border, .trans {
    background-color: transparent;
}

.centered {
    margin: 0 auto;
}

.segment {
    margin-top: 25px;
    width: 50vw;
    margin: 0px auto;
}

.faq-text {
    width: 600px;
    margin: 0 auto;
}
footer {
    background-color: #fff;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.footer-text {
    position: absolute;
    bottom: 0;
}

/* @media screen and (min-width: 769px), print {
    .column.is-one-quarter, .column.is-one-quarter-tablet {
        flex: none; this is causing boxes to shift right
    }
*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .v-header-content h1 {
        font-size: 50px;
        margin-bottom: 0;
    }  
    .v-header-content p {
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }
}

/* ipads/tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .v-header-content h1 {
        font-size: 50px;
        margin-bottom: 0;
    }  
    .v-header-content p {
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    .v-header-content h1 {
        font-size: 50px;
        margin-bottom: 0;
    }  
    .v-header-content p {
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }
}
    
/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    .v-header-content h1 {
        font-size: 100px;
        margin-bottom: 0;
    }  
    .v-header-content p {
        font-size: 3rem;
        padding-bottom: 2rem;
    }
}

@media(max-width: 960px) {
    .v-container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}