/* GENERAL */
body {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    font-size: 36px;
}

.mission {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-style: oblique;
    color: #7E7F81;
}

.nav-bar {
    background-color: #fff;
}

.nav-list {
    display: flex;
    margin-bottom: 0;
    background-color: #7E7F81;
    border-bottom: 6px solid #25315A;
    height: 50px;
}

.logo {
    left: 0;
    top: 0;
    max-width: 250px;
}

.nav-button {
    background-color: #7E7F81;
    color: #fff;
    padding: 10px;
    margin-left: 5px;
    border: none;
    font-size: 20px;
    text-decoration: none;
}

/* .nav-button:hover {

}

.nav-button:focus {

}
.nav-button:active {

} */

.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer-text {
    background-color: #7E7F81;
    color: #fff;
    border-top: 6px solid #25315A;
    text-align: center;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* HOME */

/* ABOUT */

/* SERVICES */

/* SEGMENTS */

/* BLOG */

/* Blog button that scrolls to top of page */
.back-to-top {
    display:none;
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
   
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
    text-decoration:none;
    color:#ffffff;
}

/* CONTACT */