body, html {
    height: 100vh;
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
  
header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #f4f4f4;
    color: #666;
    box-shadow: 0 1px 1px #f1f1f1;
}

.nav-brand, .nav-item {
    color: #666;
}

.nav-brand:hover, .nav-item:hover {
    color: #444;
}

.hero-foot {
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    position: absolute;
    margin-top: 200px;
}

.button {
    background-color: #5571cf !important;
    color: #fff !important;
    text-decoration-line: none !important;
}

.roadblock {
    background-color: #5571cf;
    color: #fff;
    border-radius: 15px;
    margin: 0 10px;
}

.pin-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.icon_pin {
    /* color: rgb(233, 85, 74); */
    position: relative;
    margin-left: 0;
    z-index: 5;
}

.pimg-1, .pimg-2, .pimg-3, .pimg-4 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* fixed = parallax  */
    /* scroll = normal */
    background-attachment: fixed;
}

.pimg-1 {
    background-image: url('../images/logo.jpg');
    min-height: 75%;
    opacity: 1;
}

.pimg-2 {
    background-image: url('../images/Accent/road.jpeg');
    min-height: 600px;
}

.pimg-3 {
    background-image: url('../images/handshake-1.jpg');
    min-height: 600px;
}

.section {
    text-align: center;
    padding: 50px 100px;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext, .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext, .border, .trans {
    background-color: transparent;
}

.centered {
    margin: 0 auto;
}

.segment {
    margin-top: 25px;
    width: 50vw;
    margin: 0px auto;
}

footer {
    background-color: #fff;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

/* @media screen and (min-width: 769px), print {
    .column.is-one-quarter, .column.is-one-quarter-tablet {
        flex: none; this is causing boxes to shift right
    }

} */